.theme--dark {
    .app-container {
        .main-container {
            .dbxenft-page.content-box {
                width: 95%;
                margin: 0 auto;
                border-radius: 0;
                .card-container {
                    border: 1px solid #19D2D2;
                    border-bottom-right-radius: 45px;
                    width: 100%;
                    height: 100%;
                    .card {
                        background-color: #03033C;
                        .button-group {
                            border: 1px solid #19D2D2;
                            border-radius: 32px;
                            margin: 15px 0;
                            .tab-button {
                                width: 50%;
                                color: #19D2D2;
                                padding: 0;
                                font-size: 12px;
                                &.Mui-selected {
                                    background-color: #19D2D2;
                                    color: #030339;
                                }
                                &.Mui-selected:first-child {
                                    border-top-left-radius: 32px;
                                    border-bottom-left-radius: 32px;
                                }
                                &.Mui-selected:last-child {
                                    border-top-right-radius: 32px;
                                    border-bottom-right-radius: 32px;
                                }
                            }
                        }
                    }
                    .stake-card {
                        border-right: 1px solid #19D2D2;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        .nft-card {
                            .card-header {
                                text-align: center;
                                img {
                                    width: 50%;
                                }
                            }
                            .card-details {
                                .dbxenft-power {
                                    color: #62CFD0;
                                    .label {
                                        font-size: 12px;
                                        opacity: 0.4;
                                        display: block;
                                    }
                                    .value {
                                        font-weight: 500;
                                    }
                                }
                                .card-row {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    color: #B7B7CA;
                                    .label {
                                        font-weight: 100;
                                    }
                                    .value {
                                        font-weight: 500;
                                    }
                                }
                            }
                        }

                        .amount-row {
                            align-items: center;
                            margin: 5px 0 15px 0;
                            padding: 0;
                            flex-flow: nowrap;
                            fieldset {
                                border-color: #f2e9dc;
                                border-radius: 50px;
                                .legend {
                                    display: none;
                                }
                            }
                            input {
                                padding: 5px 10px;
                                color: #F2E9DC;
                            }
                            input,
                            &::placeholder {
                                color: t('text');
                            }
                        }
                        .max-btn {
                            padding: 2px 20px;
                            border: 2px solid #19D2D2;
                            background-color: transparent;
                            color: t('text');
                            font-size: 1.5vh;
                            border-radius: 25px;
                            margin-left: 10px;
                            box-shadow: none;
                        }
                        .stake-btn,
                        .approve-btn,
                        .unstake-btn {
                            width: 100%;
                            border: 1px solid #19D2D2;
                            border-radius: 40px;
                            background-color: #19D2D2;
                            text-transform: uppercase;
                            font-weight: 500;
                            padding: 5px 40px;
                        }
                    }
                    .reward-card {
                        border-bottom-right-radius: 45px;
                        .tokens-in-wallet {
                            color: #fff;
                        }
                        .fees {
                            color: #fff
                        }
                        .collect-btn {
                            font-size: 1.5vh;
                            color: #F5B700;
                            background-color: transparent;
                            border: 2px solid #F5B700;
                            border-radius: 33px;
                            box-shadow: none;
                            padding: 10px 40px;
                            white-space: nowrap;
                            .MuiLoadingButton-loadingIndicator {
                                color: #F5B700;
                                margin: 0 5px 2px 0;
                                .MuiCircularProgress-root {
                                    width: 20px !important;
                                    height: 20px !important;
                                }
                            }
                        }
                        .MuiLoadingButton-loadingIndicator {
                            color: t('text');
                            position: relative;
                            left: 0;
                            transform: none;
                        }
                        .collect-btn:disabled {
                            border: 2px solid #6B6274;
                            color: #6B6274;
                        }
                    }
                    .back-to-approve {
                        display: flex;
                        align-items: center;
                        margin: 5px 0;
                        .collect-btn {
                            font-size: 1.5vh;
                            color: #F5B700;
                            background-color: #030328;
                            border: 2px solid #F5B700;
                            border-radius: 33px;
                            box-shadow: none;
                            padding: 10px 40px;
                            white-space: nowrap;
                        }
                        span.text {
                            padding-left: 1vh;
                            color: #F2E9DC;
                        }
                    }
                }
            }
        }
    }
} 

@media (max-width: 768px) {

    .theme--dark {
        .app-container {
            .main-container {
                .dbxenft-page.content-box {
                    width: 100%;
                    padding: 0;
                    border-radius: 0;
                    .card-container {
                        height: 57vh;
                        overflow-y: auto;
                        overflow-x: hidden;
                        margin-left: 0;
                        margin-right: 0;
                        border-bottom-right-radius: 0;
                        border: none;
                        .card {
                            padding: 15px 0;
                        }
                        .stake-card {
                            border-right: none;
                            border-bottom: 1px solid #19D2D2;
                        }
                    }
                }
            }
        }
    }

    #root .theme {
        .app-container {
            .main-container {
                .dbxenft-page.content-box {
                    border-radius: 0;
                }
            }
        }
    }

    
}
