.form-container {
    display: flex;
    justify-content: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form input,
.form-container form textarea {
    background-color: transparent;
    color: #fff;
    border: 1px solid #0ff;
    box-shadow: 1px 0 5px 0 #0ff;
    border-radius: 4px;
    padding: 5px 15px;
}

.form-container form fieldset {
    display: none;
}

.form-container form .MuiInputBase-multiline {
    padding: 0;
}

.form-container form .MuiInput-underline {
    margin-left: 0;
    margin-top: 20px;
}

.MuiInput-underline::after {
    border: none;
}

.form-container button.send-btn {
    color: #fff;
    box-shadow:
        inset 0 0 12px #fff,      
        inset 10px 0 40px #f0f,   
        inset -10px 0 40px #0ff,  
        inset 10px 0 150px #f0f, 
        inset -10px 0 150px #0ff,
        0 0 12px #fff,
        -10px 0 40px #f0f,
        10px 0 40px #0ff;
    margin-top: 35px;
}