header.app-bar--top {
    background-color: transparent;
    box-shadow: 1px 0 5px 0 #fff;
}

header.app-bar--top form {
    max-height: 35px;
    border:1px solid #0ff;
    box-shadow:0 0 10px #0ff;
    background-color: transparent;
}

header.app-bar--top form input,
header.app-bar--top form button {
    color: #fff;
}

header.app-bar--top div button,
button.logout-btn:hover { 
    border-color:#f0f;
    box-shadow: 0 0 10px #f0f;
    background-color: rgba(255, 69, 255, 0.4);
}

button.logout-btn,
header.app-bar--top div button:hover {
    border-color:#50009B;
    box-shadow: 0 0 10px #50009B;
    background-color: rgba(80, 0, 155, 0.7);
    color: #fff;
}

button.logout-btn {
    width: 150px;
}

.side-menu .MuiDrawer-paperAnchorDockedLeft {
    background-color: transparent;
    color: #fff;
    box-shadow: 1px 0 5px -2px #fff;
}

.side-menu svg {
    color: #fff;
}

.image-container
{
    max-height: 64px;
    position: relative;
}

.image-container img {
    max-height: 64px;
    width: 100%;
    object-fit: cover;
}

.image-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 18px;
    right: 0;
    background-image: linear-gradient( to bottom,rgba(23,24,54,0) 0%, rgba(23,24,54,1) 70%);
    content: "";
}

hr.divider {
    box-shadow: 1px 0 5px 1px #fff;
    border-color: rgba(255, 255, 255, 0.7)
}

.side-menu--bottom {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
}

.side-menu--bottom .content {
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    flex-direction: column;
}

.side-menu--bottom .content a:first-child {
    display: flex;
}

.side-menu--bottom .content a {
    padding: 5px 0;
    color: #fff;
    font-size: 14px;
}
