button.init-btn,
button.init-btn:hover {
  box-shadow:
    inset 0 0 12px #fff,      
    inset 10px 0 40px #f0f,   
    inset -10px 0 40px #0ff,  
    inset 10px 0 150px #f0f, 
    inset -10px 0 150px #0ff,
    0 0 12px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #0ff;
}

.stepper-box {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 1080px;
    left: 50%;
}

.stepper span,
.stepper span.Mui-active,
.stepper span.Mui-completed {
    color: #fff;
    font-size: 16px;
}

.stepper svg {
    font-size: 40px;
}

.stepper svg.Mui-active,
.stepper svg.Mui-completed {
    border-radius: 50%;
    box-shadow:
        inset 0 0 12px #fff,      
        inset 10px 0 40px #f0f,   
        inset -10px 0 40px #0ff,  
        inset 10px 0 150px #f0f, 
        inset -10px 0 150px #0ff,
        0 0 12px #fff,
        -10px 0 40px #f0f,
        10px 0 40px #0ff;
    color: transparent;
}

.stepper svg.Mui-completed {
    color: #fff;
}

.button-box {
    justify-content: flex-end;
}